* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  
}

h1 {color: red;}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* CSS Grid */

#homeArea {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: 
  "bannerTop bannerTop"; */
  
}

#bannerTop {
  background-image: url("../images/02-portfolio-1.jpg");
  height: 400px; width: 100%;
}

.floatingHeading { 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 100px;
  text-align: center;
  padding: 100px;
  color: antiquewhite;
}











/* #profile { } */

#pictureProfile {
  grid-area: pictureProfile;



}



/* Classes */

.navigate {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-evenly;
  font-size: 20px;
  padding-bottom: 10px;
  
}
