* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* CSS Grid */

#home {
  margin: 0px 5%;
  display: grid;
  min-height: 500px;
  height: 70vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "homeArea address"
  "about"
  "portfolio"
  "contact"
}

#homeArea {
  grid-area: homeArea;
  background-image: 
}

#address {

}

#about {
  grid-area: about;
  background-image:
}

#portfolio {
  grid-area: portfolio;
  background-image:
}

#contact {
  grid-area: contact;
  background-image:
}


/* Classes */
.bannerTop {height: 400px; width: 100%;}
.profilePicture {height: 600px; width: auto; border: solid black 1px;}

.navigate {
  display: flex;
  justify-content: space-evenly;
}

.hero-banner {
  
}

.page-wrapper {
   
}

.page-section {

}

.page-section-contact {

}
